.game-field {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: chocolate;
    display: flex;
    justify-content: center;
}

.game-elem {
    width: 24%;
    height: 24%;
    position: absolute;
    background-color: blueviolet;
    border-radius: 20px;
    margin: 3px;
    box-sizing: content-box;
    cursor: pointer;
}